body {
    font-family: 'Blender Pro', sans-serif;
}

.logo {
    width: 100px;
    height: 50px;
    background-color: #f60;
}

.logo img {
    width: 100%;
    height: 100%;
}

.navbar {
    font-size: 23px;
    font-family: 'Blender Pro', sans-serif;
}

.nav {
    font-size: 20px;
    font-family: 'Blender Pro', sans-serif;
    color: #f60 !important;
}

.nav .nav-item .a {
    color: #f60 !important;
}

.nav .nav-item {
    position: relative;
}

.nav .nav-item::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #f60;
    width: 0%;
    content: "";
    height: 2px;
    transition: all 0.5s;
}

.nav .nav-item:hover::after {
    width: 100%;
}


/* header  */

#invi-nav-0 {
    height: 60px;
}

.bg {
    background-image: url("../imgs/banner1.jpg");
    background-size: cover;
    background-position: center;

}

#invi-nav {
    height: 90px;
}

.bg1 {
    background-color: #fff;
}


/* section  */

#invi-nav-01 {
    height: 60px;
}


/* section 02 */

#invi-nav-02 {
    height: 60px;
}

.bg4 {
    background-color: #fff;
    height: 100vh;
}


/* section 03 */

#invi-nav-03 {
    height: 60px;
}

.bg5 {
    background: rgb(255, 102, 0);
    background: linear-gradient(90deg, rgba(255, 102, 0, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(255, 194, 0, 1) 100%);
}


/* section 04 */

#invi-nav-04 {
    height: 60px;
}

.bg6 {
    background-color: #fff;
}


/* section 05 */

#invi-nav-05 {
    height: 65px;
}

.bg7 {
    background-color: #fff;
}


/* section 06 */

#invi-nav-06 {
    height: 60px;
}

.bg8 {
    background-color: #fff;
}

#invi-nav-08 {
    height: 60px;
}

.bg9 {
    background-color: #fff;
}

.nav-link {
    color: white !important;
}

.nav-link:hover {
    color: #fff !important;
}

.navbar .navbar-nav .nav-item {
    position: relative;
}

.navbar .navbar-nav .nav-item::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #fff;
    width: 0%;
    content: "";
    height: 2px;
    transition: all 0.5s;
}

.navbar .navbar-nav .nav-item:hover::after {
    width: 100%;
}

.wrapper {
    height: 700px;
}

.txt-box {
    color: white;
    font-family: 'Blender Pro', sans-serif;
}

.txt-box {
    font-size: 20px;
}

.title h1 {
    font-size: 85px;
}

.btn-header {
    background-color: #f60 !important;
    width: 250px;
    height: 75px;
    font-size: 23px;
    color: white;
    border: none;
}

.btn-header1 {
    margin-top: 15px;
    background-color: #f60 !important;
    width: 100%;
    height: 60px;
    font-size: 23px;
    color: white;
    border: none;
}

.carousel-control-prev {
    background-color: #f60;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f60' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f60' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.nav-link-black {
    background-color: #fff;
}

.nav-link-black a {
    color: black !important;
}

.nav-link-black a:hover {
    color: black !important;
}

.blackline .nav-item::after {
    background-color: black !important;
}

.line {
    border: 1px solid #f60;
    opacity: 100%;
}

.engine {
    width: 250px;
    height: 250px;
}

.engine img {
    width: 100%;
}

.sct-title {
    font-family: 'Blender Pro', sans-serif;
}

.tt {
    font-family: 'Blender Pro', sans-serif;
    font-size: 20px;
}

.tt thead {
    color: #f60;
}

.tt td {
    color: grey;
}

.footer {
    background-color: black;
}

.footer nav {
    font-family: 'Blender Pro', sans-serif;
}

i {
    color: #fff;
    padding: 5px;
}

.container-fluid4 {
    padding-top: 140px;
    padding-bottom: 140px;
    font-family: 'Blender Pro', sans-serif;
    color: #fff;
}

.banner2 {
    background-image: url("../imgs/banner.jpeg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.3);
}

p {
    font-family: 'Blender Pro', sans-serif;
    color: black;
}

.btn-contact {
    width: 100%;
    height: 70px;
    font-size: 20px;
    color: #fff;
    background-color: #f60;
    border: none;
    font-family: 'Blender Pro', sans-serif;
}

.icons {
    width: 70px;
}

.txt-box .title {
    color: #f60 !important;
}

.icon {
    height: 50px;
    width: 50px;
}

.icon img {
    width: 100%;
}

.news {
    font-family: 'Blender Pro', sans-serif;
}

.photo {
    width: 350px;
    height: 350px;
}

.photo img {
    width: 100%;
    height: 100%;
}

.tech {
    background-color: #f60;
}

.row1:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 25%;
    padding: 10px;
}

.column img {
    opacity: 0.8;
    cursor: pointer;
}

.column img:hover {
    opacity: 1;
}


/* The expanding image container */

.container-gallery {
    position: relative;
    display: none;
}


/* Expanding image text */

#imgtext {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 20px;
}


/* Closable button inside the expanded image */

.closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
    font-size: 35px;
    cursor: pointer;
}


/*  this is a white icon with 50% opacity */

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;..");
}


/* section 5 */

.banner3 {
    background-color: #fff;
}

.dev {
    height: 670px;
}

.gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
}

.gallery a {
    height: 200px;
    width: 300px;
    margin: 20px;
    overflow: hidden;
}

.gallery a img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.gallery a img:hover {
    transform: scale(1.4);
}